<%= simple_form_for @task, html: { class: 'form-horizontal' } do |f| %>
  <%= f.collection_select :category_id, Category.all, :id, :name, { prompt: 'choose a category' }, class: 'form-select mb-3' %>
  <%= f.input :title, label: 'task title' %>
  <%= f.input :description, label: 'task description' %>
  <%= f.input :company, label: 'your company' %>
  <%= f.input :url, label: 'link to task' %>
  <br>
  <%= f.button :submit, class: 'btn btn-white' %>
<% end %>