<div id="jobs">
  <div class="job">
    <h1><%= @task.title %></h1>
    <p><%= @task.description %></p>
    <p><%= @task.company %></p>
    <button class="btn btn-white"><%= link_to 'complete task', @task.url, class: 'text-decoration-none' %></button>
  </div>
</div>

<div id="links">
  <%= link_to 'Home', root_path, class: 'btn btn-white btn-sm' %>
  <%= link_to 'Edit', edit_task_path(@task), class: 'btn btn-white btn-sm' %>
  <%= link_to 'Delete', task_path(@task), method: :delete, data: { confirm: 'are you sure?' }, class: 'btn btn-white btn-sm' %>
</div>