<!DOCTYPE html>
<html>
<head>
  <title>Rabbit</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<% if notice.present? || alert.present? %>
  <div aria-live="polite" aria-atomic="true" class="position-relative">
    <div class="toast-container top-0 end-0 p-3">
      <% flash.each do |type, msg| %>
        <div class="toast bg-primary" role='alert' aria-atomic="true" aria-live="assertive">
          <div class="d-flex">
            <div class="toast-body">
              <div>
                <%= msg %>
              </div>
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container">
    <a class="navbar-brand" href="#">TaskRabbit</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item"><%= link_to 'All Tasks', root_path, class: 'nav-link' %></li>
        <% ApplicationController.categories_all.each do |category| %>
          <li class="nav-item"><%= link_to category.name, tasks_path(category: category.name), class: 'nav-link' %></li>
        <% end %>
      </ul>
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item"><%= link_to 'New Task', new_task_path, class: 'nav-link' %></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
 <div class="offset-md-2 col-md-8">
   <%= yield %>
 </div>
</div>

</body>
</html>
